@import "tailwindcss";

:root {
  --font-size-2xl: clamp(3rem, 2.25rem + 3.125vw, 3.75rem);
  --font-size-xl: clamp(2rem, 1rem + 4.1667vw, 3rem);
  --font-size-lg: clamp(1.5rem, 1.25rem + 1.0417vw, 1.75rem);
  --font-size-rg: 1rem;
}

@theme inline {
  --color-*: initial;
  --color-green: rgb(68, 255, 161);
  --color-purple-900: rgb(36, 5, 62);
  --color-purple-500: rgb(123, 102, 142);
  --color-purple-100: rgb(253, 250, 255);
  --color-white: rgb(255, 255, 255);

  --text-*: initial;
  --text-2xl: var(--font-size-2xl);
  --text-xl: var(--font-size-xl);
  --text-lg: var(--font-size-lg);
  --text-rg: var(--font-size-rg);

  --font-weight-*: initial;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-fraunces: var(--font-fraunces);
  --font-manrope: var(--font-manrope);

  --leading-*: initial;
  --leading-100: 100%;
  --leading-120: 120%;
  --leading-150: 150%;
  --leading-180: 180%;

  --spacing-*: initial;
  --spacing-3700: 13.5rem;
  --spacing-2100: 10.5rem;
  --spacing-1800: 9rem;
  --spacing-1600: 8rem;
  --spacing-1400: 7rem;
  --spacing-1100: 5.5rem;
  --spacing-1000: 5rem;
  --spacing-800: 4rem;
  --spacing-700: 3.5rem;
  --spacing-550: 2.75rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-350: 1.75rem;
  --spacing-250: 1.25rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
}

@media screen and (min-width: 768px) {
  :root {
    --text-2xl: clamp(3.75rem, 2.5rem + 5.2083vw, 5rem);
    --text-xl: clamp(3rem, 2.5rem + 2.0833vw, 3.5rem);
    --text-lg: clamp(1.75rem, 1.5rem + 1.0417vw, 2rem);
    --text-rg: clamp(1rem, 0.875rem + 0.5208vw, 1.125rem);
  }
}

/* global typography */
body {
  @apply font-manrope text-rg leading-180 font-normal;
}

h1 {
  @apply font-fraunces text-2xl leading-100 font-semibold;
  font-variation-settings: "opsz" 144;
}

h2 {
  @apply font-fraunces text-xl leading-120 font-semibold;
  font-variation-settings: "opsz" 144;
}

h3 {
  @apply font-fraunces text-lg leading-120 font-semibold;
  font-variation-settings: "opsz" 144;
}

/* anchors with svg */
a {
  --_fill-color: var(--fill-color);
  --fill-color: var(--color-purple-500);

  &:hover,
  &:focus {
    --fill-color: var(--color-purple-900);
  }

  & > svg path {
    @apply transition ease-out;
    fill: var(--fill-color);
  }
}
